.main
{
	height: 100%;
	width: 100%;
}
.nav
{
	width:100%;
	height:150px;
	background-color: grey;
}
.header
{
	height: 20%;
	width:150px;
	background-color:pink;
}
.content
{
	height:60%;
	width:100%;
	background-color:blue;
}
