
@media 
only screen and (min-device-width : 320px) and (max-device-width : 991px)  {

	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;

	}
	
	
	
	.table tbody tr td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
	
		position: absolute;
		
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.card .table tr:first-child td {
    border-top: none;
    max-width:100% !important; }
	
	
	td:nth-of-type(1):before { content: "Service date :"; }
	td:nth-of-type(2):before { content: "Username :"; }
	td:nth-of-type(3):before { content: "Service :"; }
	td:nth-of-type(4):before { content: "Category :"; }
	td:nth-of-type(5):before { content: "Message :"; }
	td:nth-of-type(6):before { content: "Created date :"; }
	td:nth-of-type(7):before { content: "Location:"; }
	td:nth-of-type(8):before { content: "Assigned:"; }
	td:nth-of-type(9):before { content: "Action:"; }

}




.card .table tr:first-child td {
    border-top: none;
    max-width:250px; }