
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;

	}
	
	
	
	.table tbody tr td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
	
		position: absolute;
	
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	
	td:nth-of-type(1):before { content: "SI No :"; }
	td:nth-of-type(2):before { content: "Message:"; }
	td:nth-of-type(3):before { content: "Service name:"; }
	td:nth-of-type(4):before { content: "Service Location:"; }
	td:nth-of-type(5):before { content: "Servicedate:"; }
	td:nth-of-type(6):before { content: "Service Time:"; }
	td:nth-of-type(7):before { content: "Service Requested on:"; }
	td:nth-of-type(8):before { content: "Service status:"; }
	td:nth-of-type(9):before { content: "Action:"; }

}